@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .outline-text
    {
        color: #000;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-color: #000;
        -webkit-text-stroke-width: 2px;
    }
    .zoom-img {
        transition: transform 0.3s; /* Agrega una transición para suavizar el efecto */
      }
    
    .zoom-img:hover {
        transform: scale(1.1); /* Cambia la escala al 110% al pasar el mouse sobre la imagen */
    }
}
@font-face {
    font-family: DugasPro;
    src: url('../src/assets/fonts/DugasPro-BoldNormal.ttf') format("truetype");
  }