@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .outline-text
    {
        color: #000;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-color: #000;
        -webkit-text-stroke-width: 2px;
    }
    .zoom-img {
        transition: transform 0.3s; 
        transform: scale(1.1);  
    }
    

    .scrolling-text {
        animation: animate-left-to-right 5s linear infinite;
    }
    
    .active {
        background-color: rgb(255, 238, 0);
    }
    ::-webkit-scrollbar {
        width: 2px;
      }
      ::-webkit-scrollbar-thumb {
        background: rgb(245, 245, 245);
        border-radius: 1px;
      }
}

@keyframes animate-left-to-right {
    0% {
        transform: translateX(-25%);
      }
    100% {
        transform: translateX(100%);
    }
}

@font-face {
    font-family: DugasPro;
    src: url('../src/assets/fonts/DugasPro-BoldNormal.ttf') format("truetype");
  }

